.barra {
    width: 100%;
    height: 100px;
    background-color: rgb(182, 157, 112);
    text-align: center;
}
#mobile{
    font-size: 60px;
    color: black;
    text-align: center;
}
#tablet{
    display: none;
}
#desktop{
    display: none;
}
.conteudo {
    width: 100%;
    background-color: bisque;
}
.botoes {
    width: 100%;
    height: 30px;
    background-color: #dbdbdb;
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 6px;
}
.abageral {
    width: 100%;
    height: 400px;
}
.aba1 {
    background-color: bisque;
}
.aba2 {
    background-color: rgb(255, 183, 96);
}
.aba3 {
    background-color: rgb(172, 149, 255);
}
.aba4 {
    background-color: rgb(141, 187, 255);
}
@media (min-width: 800px) {
    .barra{
        height: 150px;
        background-color: rgb(174, 144, 241) ;
    }
    #mobile{
        display: none;
    }
    #tablet{
        display: inline;
        font-size: 70px;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .botoes {
        width: 24%;
    }
}
@media (min-width: 1228px){
    .barra{
        height: 200px;
        background-color: rgb(197, 161, 150);
    }
    #tablet{
        display: none;
    }
    #desktop{
        display: inline;
        font-size: 80px;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .botoes {
        width: 24%;
    }
}
.rodape{
    text-align: center;
}
